<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
  <title>Welcome to CYOA</title>
</head>

<h1>{{.Title}}<h1>
    <br>
    <body>
        <div id="story">
            {{range .Paragraphs}} 
            <p>
                {{.}}
            </p> 
            {{end}}
            </div>
            <br>

            {{if .Options}}
            <p>How would you like to proceed?</p>
            {{end}}

        <div id="options">
        {{range .Options}}
        <p>
            <a href="/{{.Chapter}}">{{.Text}}</a>
            <br>
        </p>

        {{else}}
        <p> This is the end of your journey</p>
        <p> Thanks for playing!</p>
        <img src="https://golang.org/doc/gopher/gophercolor.png" height="60" width="60">
        <br>
        <a href="/intro"> Restart?</a>
        {{end}}
    </div>

    <footer>
        Made by <a href="ConnorKirkpatrick.com">Connor Kirkpatrick</a>
    </footer>
 

    <body>
</html>
